@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

body {
    background-image: url('images/coffee_hero.png');
    background-repeat: no-repeat;
}

.button-hero {
    text-decoration: none;
    color: #1E1E1E;
    padding: 13px 40px;
    background-color: #FF9D00;
    border-radius: 10px;
    font-family: "Roboto Slab", serif;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: .04rem;
    cursor: pointer;
}

.button-hero:hover {
    box-shadow: 0 0 18px #ED8300;
    transform: translateY(-2px);
}

.brand-logo {
    padding-top: 24px;
}

#btn-nav {
    text-decoration: none;
    color: #1E1E1E;
    padding: 8px 20px;
    background-color: #FF9D00;
    border-radius: 5px;
}

.bag img {
    width: 42px;
    height: 42px;
}

h1 {
    font-family: "Roboto Slab", serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    color: #FF9D00;
    width: 560px;
    height: 122px;
    letter-spacing: .19rem;
}

.hero-text {
    padding-left: 94px;
    padding-top: 279px;
}

nav {
    width: 1252px;
}

.nav-logo {
    display: flex;
    justify-content: space-between;
    padding-left: 94px;
    padding-right: 94px;
}

.nav-btn {
    color: #1E1E1E;
}

p { 
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #FFF3E1;
    margin-top: 2px;
    width: 540px;
    margin-bottom: 48px;
}

.side-nav a {
    text-decoration: none;
    color: #FF9D00;
}

.side-nav {
    display: flex;
    gap: 64px;
    list-style: none;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .03rem;
    padding-top: 52px;
    margin: 0;
}

.side-nav-btn {
    display: flex;
    list-style: none; 
}

/* FALLING LEAVES */

.leaves-container {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: -12;
    overflow: hidden;
}

.leaves {
    position: absolute;
    inset: 0;
}

.leaves div {
    position: absolute;
    display: block;
    top: -20%;
}

leaves div:nth-child(1){
    left: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}
.leaves div:nth-child(2){
    left: 50%;
    animation: animate 17s linear infinite;
    animation-delay: -5s;
}
.leaves div:nth-child(3){
    left: 70%;
    animation: animate 19s linear infinite;
    animation-delay: -3s;
}
.leaves div:nth-child(4){
    left: 0;
    animation: animate 11s linear infinite;
    animation-delay: -1s;
}
.leaves div:nth-child(5){
    left: 30%;
    animation: animate 13s linear infinite;
}
.leaves div:nth-child(6){
    left: 60%;
    animation: animate 20s linear infinite;
}
.leaves div:nth-child(7){
    left: 80%;
    animation: animate 25s linear infinite;
}
.leaves div:nth-child(8){
    left: 10%;
    animation: animate 18s linear infinite;
}

.set2{
    transform: scale(1.5);
    transform: translateX(20px) rotateY(180deg);
    filter: blur(5px);
}
.set3{
    transform: scale(0.8);
    transform: translateX(20px) rotateX(180deg); 
    filter: blur(1px);
}

@keyframes animate{
    0%{
        opacity: 0;
        top: -10%;
        transform: translateX(-20px) rotate(0deg);
    }
    10%{
        opacity: 1;
    }
    20%{
        transform: translateX(20px) rotate(60deg);
    }
    100%{
        top: 110%;
    }
}

/* MODAL */ 

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.92);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: #FFF3E1;
    max-width: 600px;
    color: #1E1E1E;
    padding: 86px 80px 100px;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
}

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
    pointer-events: all;
    opacity: 1;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
}
.modal-body h2 {
    color: #1E1E1E;
    font-size: 37px;
    text-align: center;
    margin-bottom: 10px;
}

.modal-body p {
    color: #1E1E1E;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-top: 14px;
    font-family: "Open Sans", sans-serif;
    width: 600px;
    margin-bottom: 26px;

}

.btn-modal {
    text-decoration: none;
    background-color: #FF9D00;
    color: #1E1E1E;
    border-radius: 10px;
    padding: 13px 45px;
    font-family: "Roboto Slab", serif;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: .04rem;
}

.close-button {
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
    color: #1E1E1E;
    line-height: 1;
}

#overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    z-index: 9;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}