@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

body {
    background-image: url('images/coffee_hero.png');
    background-repeat: no-repeat;
}

.button-hero {
    text-decoration: none;
    color: #1E1E1E;
    padding: 13px 40px;
    background-color: #FF9D00;
    border-radius: 10px;
    font-family: "Roboto Slab", serif;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: .04rem;
}

.brand-logo {
    padding-top: 24px;
}
#btn-nav {
    text-decoration: none;
    color: #1E1E1E;
    padding: 8px 20px;
    background-color: #FF9D00;
    border-radius: 5px;
}

.bag img {
    width: 42px;
    height: 42px;
}

h1 {
    font-family: "Roboto Slab", serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    color: #FF9D00;
    width: 560px;
    height: 122px;
    letter-spacing: .19rem;
}

.hero-text {
    padding-left: 94px;
    padding-top: 279px;
}

nav {
    width: 1252px;
}

.nav-logo {
    display: flex;
    justify-content: space-between;
    padding-left: 94px;
    padding-right: 94px;
}

.nav-btn {
    color: #1E1E1E;

}

p { 
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #FFF3E1;
    margin-top: 2px;
    width: 540px;
    margin-bottom: 48px;
}

.side-nav a {
    text-decoration: none;
        color: #FF9D00;
}

.side-nav {
    display: flex;
    gap: 64px;
    list-style: none;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .03rem;
    padding-top: 52px;
    margin: 0;
}

.side-nav-btn {
    display: flex;
    list-style: none; 
}